// color settings:
$gradient-header: linear-gradient(180deg, #0B83B7 15%, rgba(136, 217, 252, 100) 98.68%);
$gradient-Footer: linear-gradient( to top, #0B83B7 15%, rgba(136, 217, 252, 80) 98.68%);

$main-color: rgb(30, 13, 179);
$caption-color: 
rgba(68, 105, 199, 0.45);
$caption-gradient: linear-gradient(to left, rgba(255,255,255,1) 15%, rgba(
207,220,255,1)25%);
// Bootstrap-alternations

.bg-primary, .btn-primary {
    background: $gradient-header;
    // height: 16.875rem; // 270 px
}

.site-footer {
    background: $gradient-Footer;
    position:relative;
    bottom: 0;
}



// icons
.fa {
    color:$main-color;
}



// carousel

.carousel-caption {
    background-color: $caption-color;
    color: $caption-gradient;
    font-size: 2em;
    width: fluid;
    float: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 3em;
}

.carousel-item div {
    background-color: $caption-color;
    color: $caption-gradient;
    font-size: 2em;
    position: relative;
    bottom: 2em;
}


// Element-selectors
h2,h3,h4,h5,h6 {
    color:$main-color;
}

#impressum, a:link {
    color:$main-color;
}

a {
    font-weight: bold;
}

a:hover {
    background-color: $gradient-footer;
    color: white;
}

// Navigation


