// color settings:
$gradient-header: linear-gradient(180deg, #0B83B7 10%, rgba(136, 217, 252, 1) 70%, rgba(255,255,255, 1) 100%);
$gradient-Footer: linear-gradient( to top, #0B83B7 10%, rgba(136, 217, 252,1) 70%, rgba(255,255,255, 1) 100%);

$main-color: rgb(30, 13, 179);
$caption-color: 
rgba(68, 105, 199, 0.45);
$caption-gradient: linear-gradient(to left, rgba(255,255,255,1) 15%, rgba(
207,220,255,1)25%);

$cta-gradient: linear-gradient(to top right, rgba(136, 217, 252, 1), rgba(223,237,131,1) 95%,rgba(255,273,51,1));
$bg-header: #92CDE7;
$bg-p:#D6EEF9;

// Bootstrap-alternations

.bg-primary, .btn-primary  {
    background: $gradient-header;
    
}

.bg-success {
    background: $cta-gradient;
}

.btn{
    box-shadow: 0.0625em 0.15em 0.3em rgba(0,0,0,0.5);
}

.btn-custom {
    background:$gradient-Footer
}

.site-footer {
    background: $gradient-Footer;
    position:relative;
    bottom: 0;
}



// icons
.fa {
    color:$main-color;
}

.bg-h {
    background-color:$bg-header;
}

.bg-p {
    background-color: $bg-p;
}

// carousel

.carousel-caption {
    background-color: $caption-color;
    color: $caption-gradient;
    font-size: 2em;
    width: fluid;
    float: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 3em;
}

.carousel-item div {
    background-color: $caption-color;
    color: $caption-gradient;
    font-size: 2em;
    position: relative;
    bottom: 2em;
}


// Element-selectors
h2,h3,h4,h5,h6 {
    color:$main-color;
    
}

h1 {
    color: $main-color;

}



ol li {
    list-style-position: inside ;
    
}

.nav-item {
    display: block;
    border: none 0.1em $caption-color;
    border-radius: 5px;
    background-color: $gradient-Footer;
    width: 6.5em;
    
}

.nav-item:hover, .btn:hover {
    background-color: rgba(255,255,255,0.4);
}


//links

a {
    font-weight: bold;
    text-shadow: 0.0625em 0.15em 0.3em rgba(0,0,0,0.5);
}

a:hover {
    text-shadow: 0.06em 0.1em 0.2em rgba(255,255,255,0.5); 
}

#impressum, a:link, .button a {
    color:$main-color;
}




// font & text-effects

.text-shadow {
    text-shadow: 0.0625em 0.15em 0.3em rgba(0,0,0,0.5); 
}




.color-main {
    color: $main-color;
}

